.u-section-1 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 532px;
  height: 388px;
  object-position: 50% 0%;
  margin: -290px 38px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }
}